doctype html
html
  include head
  body
    include simple_header
    section#one.main.style1.special
      .container
        h2 TinyURL
        if url&&id
          .table-wrapper
            table.alt#DataTab
              thead
                tr
                  th Link
                  th URL
              tbody
                tr
                  td 
                    a(href=id) #{id}
                  td 
                    a(href=url) #{url}      
        else 
          form.no-reload(method='post', action='/url')
            .uniform(class='50%')
              div(class='5u 12u$(xsmall)' style="margin-bottom:1em;margin-left:auto;margin-right:auto")
                input(type='url', name='url', placeholder='URL',required, autofocus)
              div(class='12u$')
                ul.actions
                  li
                    input.special(type='submit', value='Make it tiny')
              div(class='12u$')
                .error-message #{message}
    include footer
       