doctype html
html
  include ../head.pug
  body
    include ../simple_header.pug
    section#one.main.style1.special
      .container
        h2 Edit #{wiki.curr_path}
        form(method="post", action=wiki.curr_url)
          .row.uniform(class='50%')  
            div(class='6u 12u$(xsmall)')
              label(For="") Title
              input(type="text", name="title", value=title, placeholder="Title", required)
            div(class='6u 12u$(xsmall)')
              label(for="") Path
              if is_new
                input(type="text", name="path", value=wiki.curr_path, placeholder="Path", required)
              else
                input(type="text", readonly="true", value=wiki.curr_path, placeholder="Path", required)
            div(class='12u 12u$(xsmall)')
              textarea(name="markdown", placeholder="HTML Article", required) #{markdown}
            div(class='12u$')
                ul.actions
                  li
                    input.special(type="submit", value="Save")
    include ../footer.pug