doctype html
html
  include ../head.pug
  body
    include ../simple_header.pug
    section#one.main.style1.special
      .container
        form(method="post", action=wiki.curr_url)
          .row.uniform(class='50%')  
            div(class='6u 12u$(xsmall)')
              |Title
              input(type="text", name="title", value, placeholder=title, required)
            div(class='6u 12u$(xsmall)')
              |Path
              if is_new
                input(type="text", name="path", value, placeholder=wiki.curr_path, required)
              else
                input(type="text", readonly="true", value, placeholder=wiki.curr_path, required)
            div(class='12u 12u$(xsmall)')
              textarea(name="markdown") #{markdown}
            div(class='12u$')
                ul.actions
                  li
                    input.special(type="submit", value="Save")
    include ../footer.pug